
.container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 100%;
    margin: 30px auto;
}

.card {
    width: 25%;
    max-width: 300px;
    border: 1px solid black;
    padding: 20px;
}

.card_image {
    height: 120px;
    width: 100%;
    max-width: 180px;
    background-color: aqua;
    margin: auto;
}

h1 {
text-align: center;
}

.card_decription {
    margin-top: 15px;
    text-align: center;
}
@media screen and (max-width: 480px){
    .card{
        width: 95%;
    }
}
@media screen and (max-width: 768px;){
    .card{
width: 50%;
        max-width: 100%;
margin: auto auto 10px;
    }
}

.link {
    display: flex;



    text-decoration: none;
    font-size: 1.2rem;
    background-color: burlywood;
    border-radius: 10px;
    color: white;
    padding: 2px 25px;
}

div {

}

a {
    display: flex;
    justify-content: center;
    text-align: center;
    display: inline-block;
}
