
.container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 100%;
    margin: 30px auto;
    padding-top: 100px;
}

.card {
    height: auto;
    width: 25%;
    max-width: 300px;
    border: 2px solid black;
    padding-bottom:1%;
    margin: auto;
}

.card_image {

    height: 120px;
    width: 100%;
    max-width: 180px;
    background-color: black;
    background-size: cover;
    margin: auto;
    margin-top: 10px;
}

h1 {
    position: relative;
    top: 23px;
justify-content: center;
font-family: monospace;
    color: white;
     -webkit-text-stroke: 0.1px black;
}

.card_decription {
font-size: 17px;
font-family: sans-serif;
 margin-bottom: 10px;
    text-align: center;
    -webkit-text-stroke: 0.1px black;
}
@media screen and (max-width: 480px){
    .card{
        width: 95%;
max-width: 100%;
margin: auto auto 10px;
    }
}
@media screen and (max-width: 768px;){
    .card{
width: 50%;
        max-width: 100%;
margin: auto auto 10px;
    }
}

.link {
    display: flex;
    color: black;
    justify-content: center;
    text-align: center;
    transition: all 0.5s ease 0s;
    height: 20px;
    max-height: 100px;
    text-decoration: none;
    font-size: 1.3rem;
    background-color: white;
    border-radius: 10px;
    padding: 2px 10px;
    margin: 8px;


-webkit-text-stroke: 0.1px black;
}
.link:hover {
background-color: black;
color: snow;
   text-decoration-line: line-through;
border-radius: -100px;
}


a {
color: white;

}

body {
background-image: url(img/orig.webp);
    background-size: cover;
}



div {
    color: white;
}



header {

    display: flex;
    margin: 0px auto;
justify-content: space-between;
background: black;
background-size: cover;
background-attachment: fixed;
    padding: 8px;
}

link {

}

.title_page {

display:flex;
    padding: 1px;
}

#logo {
    height: 120px;
    width: 100%;
    max-width: 180px ;
    margin:left;
    transition: all 0.5s ease 0s;
 border-radius: 10px;
    background: white;
}
#logo:hover{
background-color: mediumpurple;
border-radius:20px;
}

.car_naz {
font-family: monospace;
font-size: 30px;
 margin-top: 30px;
margin-bottom: 20px;
    text-align: center;
    -webkit-text-stroke: 0.1px black;
}




.buy {


}

.People {



}

.about {

}



footer {
    background: black;
}




.header-right {

float:  right;
margin: auto 10px;
font-size: 20px;
font-family: monospace;
max-width: inherit;

}
@media screen and (min-width:480px) and (max-width:480px){
    #logo{
        width: 110px;

    }
    h1{
font-size:25px;
        margin-left: 5px

    }
    .header-right{
float: none;
text-align: center;
position: relative;
top: 100px;
right: 92px;
padding: 10px;
background-color: black;
        background-position: left;
border-radius: 10px;


    }
}
@media screen and (max-width:320px){
    #logo{
        width: 80px;

    }
    h1{
font-size:20px;
        margin-left: 5px

    }
    .header-right{
float: none;
text-align: center;
position: relative;
top: 105px;
right: 130px;
padding: 10px;
background-color: black;
        background-position: left;
border-radius: 10px;


    }
}


