
.container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 100%;
    margin: 30px auto;
    padding-top: 100px;
}

.card {
    height: 300px;
    width: 25%;
    max-width: 300px;
    border: 2px solid black;
    padding: 10px;
margin: auto;
}

.card_image {
    height: 120px;
    width: 100%;
    max-width: 180px;
    background-color: black;
    margin: auto;
}

h1 {
    position: relative;
    top: 23px;
justify-content: center;
font-family: monospace;
    color: white;
     -webkit-text-stroke: 0.1px black;
}

.card_decription {
font-size: 17px;
font-family: sans-serif;
    margin-top: 15px;
    text-align: center;
    -webkit-text-stroke: 0.1px black;
}
@media screen and (max-width: 480px){
    .card{
        width: 95%;
    }
}
@media screen and (max-width: 768px;){
    .card{
width: 50%;
        max-width: 100%;
margin: auto auto 10px;
    }
}

.link {
    display: flex;
     text-align: center;
      color: black;
     justify-content: center;
transition: all 0.5s ease 0s;


    text-decoration: none;
    font-size: 1.3rem;

    background-color: white;
    border-radius: 10px;
    padding: 3px 10px;
    margin-bottom:

-webkit-text-stroke: 0.1px black;
}
.link:hover {
background-color: black;
color: snow;
   text-decoration-line: line-through;
border-radius: -100px;
}


a {
color: white;

}

body {
background-image: url(img/orig.webp);
    background-size: cover;
}



div {
    color: white;
}



header {
    display: flex;
    margin: 0px auto;
justify-content: space-between;
background: black;
background-size: cover;
background-attachment: fixed;
    padding: 8px;
}

link {

}

.title_page {

display:flex;
    padding: 1px;
}

#logo {
    height: 120px;
    width: 100%;
    max-width: 180px;
    margin:left;
    transition: all 0.5s ease 0s;
 border-radius: 10px;
    background: white;
}
#logo:hover{
background-color: mediumpurple;
border-radius:20px;
}

.car_naz {
font-family: monospace;
font-size: 30px;
 margin-top: 30px;
margin-bottom: 20px;
    text-align: center;
    -webkit-text-stroke: 0.1px black;
}

nav {

text-decoration-line: none;
 position: relative;
display:flex;
margin: auto 1px;
font-family: monospace;
font-size: 30px;
}


.nav1 {
font-family: monospace;
    position: relative;
right: 80px;

}

.nav2 {
    font-family: monospace;
     position: relative;
right: 40px;

}

.nav3 {

}



footer {
    background: black;
}
